/* === PAGE BACKGROUND === */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("https://i.postimg.cc/CKYdDfPc/ne.png"); /* 👉 ovdje ubaci link tvoje slike iz Canve */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* === MAIN TITLE === */
h1 {
  font-size: 35px;
  color: #111;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* === WHITE CARD === */
.app-container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 420px;
}

/* === FORM ELEMENTS === */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 15px;
}

button {
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #333;
}

/* === PREDICTION BOX === */
.prediction-box {
  margin: 25px auto 0 auto;
  width: 200px;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  padding: 1px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  text-align: center;
  box-shadow: 3px 3px 0 #b7b7b7;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 30px;
}

.price-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.side-image {
  width: 80px;
  height: auto;
  opacity: 0.95;
  transition: transform 0.3s ease;
}

.side-image:hover {
  transform: scale(1.1);
}
